@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #21aba5;
}

@media screen and (min-width: 1600px){
  body{
    background-color: #154f4dde;
  }
  #whenIOpeninLargeScreen{
    width: 80vw;
    margin: 0px auto;
  }
  #messageDrops{
    min-height: 90.5vh;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.spin_button_none::-webkit-outer-spin-button,
.spin_button_none::-webkit-inner-spin-button {
  appearance: none;
}

/* This class will work on Firefox... */
.spin_button_none[type="number"] {
  -moz-appearance: textfield;
}

#userGridSkleton {
  animation: skleton 1s ease-in infinite;
}
#userGridSkleton p {
  animation: skleton 0.5s ease-in infinite;
}

@keyframes skleton {
  0% {
    background-color: #ffffff4f;
  }
  50% {
    background-color: #ffffff66;
  }
  10% {
    background-color: #ffffff4f;
  }
}
